@import "styles/variables.scss";

.tweetPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $navy;
  color: $navy;
  height: 200px;
}

.soundCloudPlayer {
  margin: 2rem 0 2rem 0;
}
