@import "styles/variables.scss";

$minContentWidth: 550px;
$maxContentWidth: 650px;
$columnGap: 30px;
$imagesWidth: 150px;

.contentImage {
  width: 80%;
  margin: 0 auto 0 auto;
  cursor:pointer;
}

.track {
  width: 80%;
  margin: 0 auto 0 auto;
}

.main  > div {
  .mainImage {
    grid-area: image;
  }
  .basicInfo {
    grid-area: info;
  }
  .overview {
    grid-area: overview;
  }
  .images {
    grid-area: images;
  }
  .development {
    grid-area: development;
  }
  .reception {
    grid-area: reception;
  }
  .credits {
    grid-area: credits;
  }
}

.mainImage {
  width: 100%;
  max-width: 512px;
  margin: 0 auto 0 auto;
}

.basicInfo {
  margin: 2rem 0 2rem;

  h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0.25rem 0 0.25rem 0;
  }

  .details {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0.25rem 0 0.25rem 0;
  }

  .icons {
    margin: 0.75rem auto 0 auto;

    svg {
      fill: $white;
    }
    svg:hover {
      fill: $rose;
    }
  }
}

.playLink {
  text-align: center;

  a {
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: $white;
    font-size: 150%;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: $rose;
    cursor: pointer
  }
  a:hover {
    background-color: $sherbet;
  }
}

.overview,
.development,
.reception,
.credits {
  width: 100%;

  > p, > ol > ul {
    font-family: 'Nanum Myeongjo', serif;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 2.25rem 0 -0.25rem 0;
    text-transform: uppercase;
  }
  &:first-of-type h2 {
    margin-top: 0;
  }

  a {
    color: $rose;
  }
  a:hover {
    color: $sherbet;
  }
}

.fullImageModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  z-index: 100;
  background-color: rgba($black, 0.95);

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 359.9px) {
  .basicInfo {
    h1 {
      font-size: 200%;
    }
    .details {
      font-size: 110%;
    }
  }

  .overview,
  .development,
  .reception,
  .credits {
    > p, > ul, > ol {
      font-size: 100%;
      line-height: 145%;
    }

    h2 {
      font-size: 130%;
    }
  }
}
@media (min-width: 360px) {
  .basicInfo {
    h1 {
      font-size: 300%;
    }
    .details {
      font-size: 150%;
    }
  }

  .overview,
  .development,
  .reception,
  .credits {
    > p, > ul, > ol {
      font-size: 115%;
      line-height: 145%;
    }

    h2 {
      font-size: 180%;
    }
  }
}

@media (max-width: 359.9px) {
  .main > div {
    margin: 1rem 1rem 1rem 1rem;
  }

  .images {
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;

    > div {
      width: 100%;
    }
  }
}
@media (min-width: 360px) and (max-width: 599.9px) {
  .main > div {
    margin: 1rem 1rem 1rem 1rem;
  }

  .images {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;

    > div {
      flex-grow: 1;
    }
  }
}
@media (min-width: 600px) and (max-width: 999.9px) {
  .main > div {
    min-width: $minContentWidth;
    max-width: $maxContentWidth;
    width: 70%;
    margin: 0 auto 0 auto;
  }

  .images {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;

    > div {
      flex-grow: 1;
    }
  }
}
@media (min-width: 1000px) {
  .main > div {
    position: relative;
    left: calc(($columnGap + $imagesWidth) / 2);
    width: 70%;
    min-width: $minContentWidth + $columnGap + $imagesWidth;
    max-width: $maxContentWidth + $columnGap + $imagesWidth;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr $columnGap $imagesWidth;
    grid-template-rows: auto;
    grid-template-areas: 
      "image . ."
      "info . ."
      "overview . images"
      "development . images"
      "reception . images"
      "credits . images";
    justify-items: center;
    align-items: flex-start;
  }

  .images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
