@import "styles/variables.scss";

.main {
  max-width: 700px;
  position: relative;
  left: 50px;
  margin: 0 auto 0 auto;
  font-family: 'Nanum Myeongjo', serif;

  > div {
    display: grid;
    grid-template-columns: 500px 10px 190px;
    grid-template-rows: auto;
    grid-template-areas: 
      "image . ."
      "info . ."
      "overview . images"
      "credits . images"
      "development . images"
      "reception . images";
    justify-items: center;
    align-items: flex-start;
  }

  .mainImage {
    grid-area: image;
    width: 100%;
  }

  .basicInfo {
    grid-area: info;
    margin: 2rem 0 2rem;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    list-style-type: none;
    text-transform: lowercase;
    font-size: 90%;
    color: #bec5ac;

    li:nth-child(3n+1) {
      a:hover {
        color: $rose;
      }
    }

    li:nth-child(3n+2) {
      a:hover {
        color: $wintergreen;
      }
    }

    li:nth-child(3n) {
      a:hover {
        color: $topaz;
      }
    }
  }

  .overview,
  .images,
  .credits,
  .development,
  .reception {
    font-size: 115%;
    line-height: 145%;

    a {
      color: $rose;

      &:hover {
        color: $sherbet;
      }
    }
  }

  section:first-of-type h2 {
    margin-top: 0;
  }

  .overview {
    grid-area: overview;
  }

  .images {
    grid-area: images;
    width: 100%;
  }

  .credits {
    grid-area: credits;
  }

  .development {
    grid-area: development;
  }

  .reception {
    grid-area: reception;
  }

  h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
    margin: 0.25rem 0 0.25rem 0;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .details {
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0.25rem 0 0.25rem 0;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    font-weight: 400;
    margin: 2.75rem 0 -0.25rem 0;
    text-transform: uppercase;
  }
}

.fullImageModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  z-index: 100;
  background-color: rgba($black, 0.7);

  > div {
    width: 512px;
  }
}
