@import "styles/variables.scss";

.main {
  font-family: 'Noto Sans', sans-serif;

  section {
    h2 {
      position: absolute;
      left: -10000px;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
}

.games {
  > div {
    max-width: $maxWidth;
    margin: 0 auto 0 auto;
  }
}

.bio {
  background-color: $red-background-under-white;
  margin: 5rem 0 2rem 0;
  font-weight: 600;

  > div {
    max-width: calc($maxWidth - 200px);
    margin: 0 auto 0 auto;
  }

  p {
    margin: 1em 0 1em 0;
  }
}

.contact {
  position: relative;
  image-rendering: pixelated;
  background-image: url('/images/stamp.png');
  background-position: top 25px right 25px;
  background-repeat: no-repeat;
  background-size: 96px 96px;
  max-width: calc($maxWidth - 350px);
  margin: 5rem auto 5rem auto;
  background-color: $white-background;
  color: $black-over-white;

  > div > div > div {
    font-size: 110%;
    line-height: 0.8;
    font-family: 'Nanum Myeongjo', serif;
  }

  .from {
    position: absolute;
    top: 22px;
    left: 40px;
    line-height: 1.25;
    color: $black-over-white;
    font-size: 95%;
    font-family: 'Nanum Myeongjo', serif;
  }

  a {
    color: $red-over-white;
  }
  a:hover {
    color: $red-over-white-highlight;
  }

  > div {
    width:100%;
    background-size:contain;
    position:relative;
    padding-bottom: 45%;

    > div {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.big {
  font-size: 190%;
  position: relative;
  line-height: 0px;
}

.colorHighlight {
  &:nth-child(odd){
    color: $green-over-black;
  }

  &:nth-child(even){
    color: $blue-over-black;
  }
}

// Game grid padding
@media (max-width: 399.9px) {
  .games > div {
    padding: 0 0.5rem;
  }
}
@media (min-width: 400px) and (max-width: 699.9px) {
  .games > div {
    padding: 0 1rem;
  }
}
@media (min-width: 700px) {
  .games > div {
    padding: 0 2rem;
  }
}

// Bio
@media (max-width: 349.9px) {
  .bio {
    font-size: 105%;
    padding: 1.5em 0.5em 1.5em 0.5em;
  }
}
@media (min-width: 350px) and (max-width: 599.9px) {
  .bio {
    font-size: 115%;
    padding: 2em 1em 2em 1em;
  }
}
@media (min-width: 600px) and (max-width: 849.9px) {
  .bio {
    font-size: 150%;
    padding: 2.5em 1.5em 2.5em 1.5em;
  }
}
@media (min-width: 850px) {
  .bio {
    font-size: 200%;
    padding: 2.5em 1.5em 2.5em 1.5em;
  }
}
