@import "styles/variables.scss";

.image {
  width: 100%;

  &.pixelArt {
    image-rendering: pixelated;
  }

  > span {
    display: block !important;
    width: 100% !important;
    height: 100% !important;

    img {
      object-fit: contain !important;
    }
  }

  &.fillHeight {
    height: 100%;
  }
  &.fillWidth > span img {
    width: 100% !important;
  }
}
