.gameGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  > div {
    > div > span {
      display: block !important;
      position: relative !important;
      padding: 5px !important; // 10px gutters
      cursor: pointer;

      img {
        width: 100% !important;
      }
    }
  }
}

// Columns
@media (max-width: 399.9px) {
  .gameGrid > div {
    flex-basis: 100%; // 1 column
  }
}
@media (min-width: 400px) and (max-width: 699.9px) {
  .gameGrid > div {
    flex-basis: 50%; // 2 columns
  }
}
@media (min-width: 700px) {
  .gameGrid > div {
    flex-basis: 33.333%; // 3 columns
  }
}
