@import "styles/variables.scss";

.image {
  &.pixelArt {
    image-rendering: pixelated;
  }

  > span {
    display: block !important;
    position: relative !important;
    cursor: pointer;

    img {
      width: 100% !important;
    }
  }
}
