@import "styles/variables.scss";

.header {
  &.full {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0 0 0;

    > div {
      max-width: 1000px;
    }

    .icons {
      a {
        fill: $grape
      }
      a:hover {
        fill: $rose;
      }
    }
  }

  &.compact {
    margin: 0 0 1rem 0;
    padding: 1rem 1rem 1rem 1rem;

    > div {
      max-width: $maxWidth;
      margin: 0 auto 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      margin: 0;
      font-size: 150%;
    }

    .icons {
      position: relative;
      top: 3px;

      a {
        fill: $violet
      }
      a:hover {
        fill: $rose;
      }
    }
  }
}

.title {
  font-family: Raleway, sans-serif;
}

.subtitle {
  color: $rose;
  text-transform: lowercase;
}

.footer {
  color: $violet;
  text-align: center;
  margin: 1rem 0 0 0;
  padding: 1.5rem 1rem 2rem 1rem;

  > div {
    max-width: $maxWidth;
    margin: 0 auto 0 auto;
  }

  p {
    margin: 0.5rem 0 0.5rem 0;
  }
 
  .icons {
    margin: 0.75rem 0 0 0;
    a {
      fill: $violet;
    }
    a:hover {
      fill: $rose;
    }
  }
}

// Title font sizes
@media (max-width: 249.9px) {
  .header.full {
    min-height: 150px;

    .title {
      margin: 0 0 0.05rem 0;
      font-size: 135%;
    }

    .subtitle {
      margin: 0.05rem 0 0.3rem 0;
      font-size: 100%;
    }
  }
}
@media (min-width: 250px) and (max-width: 349.9px) {
  .header.full {
    min-height: 200px;

    .title {
      margin: 0 0 0.05rem 0;
      font-size: 165%;
    }

    .subtitle {
      margin: 0.05rem 0 0.3rem 0;
      font-size: 100%;
    }
  }
}
@media (min-width: 350px) and (max-width: 499.9px) {
  .header.full {
    min-height: 225px;

    .title {
      margin: 0 0 0.05rem 0;
      font-size: 225%;
    }

    .subtitle {
      margin: 0.05rem 0 0.5rem 0;
      font-size: 100%;
    }
  }
}
@media (min-width: 500px) and (max-width: 899.9px) {
  .header.full {
    min-height: 275px;

    .title {
      margin: 0 0 0.1rem 0;
      font-size: 300%;
    }

    .subtitle {
      margin: 0.1rem 0 0.65rem 0;
      font-size: 115%;
    }
  }
}
@media (min-width: 900px) {
  .header.full {
    min-height: 300px;

    .title {
      margin: 0 0 0.2rem 0;
      font-size: 350%;
    }

    .subtitle {
      margin: 0.2rem 0 0.85rem 0;
      font-size: 120%;
    }
  }
}

.skipLinks {
  > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    color: $white;
    padding: 1rem;
    transform: translateY(-100%);
  }
  > a:focus {
    transform: translateY(0%);
  }
}
