@import "styles/variables.scss";

.header {
  &.full {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    > div {
      max-width: $maxWidth;
    }

    .icons {
      position: relative;
      top: 2px;

      a {
        fill: $red-over-black
      }
      a:hover {
        fill: $red-over-black-highlight;
      }
    }
  }

  &.compact {
    margin: 0 0 1rem 0;
    padding: 1rem 1rem 1rem 1rem;

    > div {
      max-width: $maxWidth;
      margin: 0 auto 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      margin: 0;
      font-size: 150%;
    }

    .icons {
      position: relative;
      top: 3px;

      a {
        fill: $red-over-black
      }
      a:hover {
        fill: $red-over-black-highlight;
      }
    }
  }
}

.title {
  color: $white-over-black;
  font-family: Raleway, sans-serif;
}

.subtitle {
  color: $red-over-black;
  text-transform: lowercase;
}

.footer {
  color: $red-over-black;
  text-align: center;
  padding: 1.75rem 1rem 2rem 1rem;

  > div {
    max-width: $maxWidth;
    margin: 0 auto 0 auto;
  }

  p {
    margin: 0.5rem 0 0.5rem 0;
  }
 
  .icons {
    margin: 0.75rem 0 0 0;
    a {
      fill: $red-over-black-subdued;
    }
    a:hover {
      fill: $red-over-black;
    }
  }
}

// Title font sizes
@media (max-width: 249.9px) {
  .header.full {
    min-height: 125px;
    padding-top: 20px;

    .title {
      margin: 0 0 0.05rem 0;
      font-size: 135%;
    }

    .subtitle {
      margin: 0.05rem 0 0.3rem 0;
      font-size: 100%;
    }
  }
}
@media (min-width: 250px) and (max-width: 349.9px) {
  .header.full {
    min-height: 125px;
    padding-top: 20px;

    .title {
      margin: 0 0 0.05rem 0;
      font-size: 165%;
    }

    .subtitle {
      margin: 0.1rem 0 0.25rem 0;
      font-size: 100%;
    }
  }
}
@media (min-width: 350px) and (max-width: 499.9px) {
  .header.full {
    min-height: 125px;
    padding-top: 30px;

    .title {
      margin: 0 0 0.05rem 0;
      font-size: 225%;
    }

    .subtitle {
      margin: 0.1rem 0 0.35rem 0;
      font-size: 100%;
    }
  }
}
@media (min-width: 500px) and (max-width: 899.9px) {
  .header.full {
    min-height: 160px;
    padding-top: 30px;

    .title {
      margin: 0 0 0.1rem 0;
      font-size: 300%;
    }

    .subtitle {
      margin: 0;
      font-size: 120%;
    }

    > div > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
  }
}
@media (min-width: 900px) {
  .header.full {
    min-height: 200px;
    padding-top: 30px;

    .title {
      margin: 0 0 0.2rem 0;
      font-size: 350%;
    }

    .subtitle {
      margin: 0;
      font-size: 130%;
    }

    > div > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
  }
}

.skipLinks {
  > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: $white-over-black;
    background-color: $black-background;
    padding: 1rem;
    transform: translateY(-100%);
  }
  > a:focus {
    transform: translateY(0%);
  }
}
