@import "styles/variables.scss";

.header {
  &.full {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;

    > div {
      max-width: 1000px;
    }

    .title {
      margin: 1rem 0 0.2rem 0;
      font-size: 400%;
    }

    .icons {
      a {
        fill: $grape
      }
      a:hover {
        fill: $rose;
      }
    }
  }

  &.compact {
    max-width: 1000px;
    margin: 1rem auto 3rem auto;

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      margin: 0;
      font-size: 150%;
    }

    .icons {
      position: relative;
      top: 3px;

      a {
        fill: $violet
      }
      a:hover {
        fill: $rose;
      }
    }
  }
}

.title {
  font-family: Raleway, sans-serif;
}

.subtitle {
  margin: 0.2rem 0 0.85rem 0;
  font-size: 140%;
  color: $rose;
  text-transform: lowercase;
}

.footer {
  color: $violet;
  text-align: center;
  margin: 5rem 0 2.25rem 0;

  p {
    margin: 0.25rem 0 0.25rem 0;
  }

  .icons {
    margin: 1rem 0 1rem 0;
    a {
      fill: $violet;
    }
    a:hover {
      fill: $rose;
    }
  }

  > div {
    max-width: 1000px;
    margin: 0 auto 0 auto;
  }
}