$black: #121117;
$white: #f0fde0;
$sherbet: #f19bb5;
$rose: #ee398f;
$violet: #b72080;
$grape: #6a084b;
$mint: #a5fac3;
$wintergreen: #32ef74;
$green: #32c853;
$spruce: #176942;
$cyan: #69f3d8;
$topaz: #22b4d1;
$blue: #2b60d3;
$navy: #2a2e72;
